{% extends 'base.html.twig' %}

{% block title %}Utilisateur {% endblock %}

{% block body %}
    <h1>Stagiaire index</h1>

    

    <a href="{{ path('registration_register') }}">Create new</a>
{% endblock %}
