{% extends 'base.html.twig' %}

{% block title %}Modifier Type de formation - Intrarinfo{% endblock %}

{% block body %}
    <h1>Modifier Type de formation</h1>

    {{ include('type/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-dark" href="{{ path('type_index') }}">Retour</a>

    {{ include('type/_delete_form.html.twig') }}
{% endblock %}
