{% extends 'base.html.twig' %}

{% block title %}Différents Types de formations - Intrarinfo{% endblock %}

{% block body %}
    <h1>Les Différents Types de formations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.nomType }}</td>
                <td>
                    <a class="lienPlace btn" href="{{ path('type_edit', {'id': type.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-dark" href="{{ path('type_new') }}">Ajouter un nouveau Type</a>
{% endblock %}
