{% extends 'base.html.twig' %}

{% block title %}New Type{% endblock %}

{% block body %}
    <h2>Nouveau Type de formation</h2>

    {{ include('type/_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('type_index') }}">Retour</a>
{% endblock %}
