{% extends 'base.html.twig' %}

{% block title %}Nouvelle Formation{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle Formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('formation_index') }}">Retour</a>
{% endblock %}
