body {
    background-color: rgb(228, 228, 228);
}

table {
    margin : 40px 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 2px grey;
    &:hover {
        box-shadow: 0px 3px 3px grey;
    }
}

.large {
    margin : 20px;
    width: 100%;
}
