{% extends 'base.html.twig' %}

{% block title %}Modifier un Stagiaire{% endblock %}

{% block body %}
    <h1>Modifier un Stagiaire</h1>

    {{ include('stagiaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-dark" href="{{ path('stagiaire_index') }}">Retour</a>

    {{ include('stagiaire/_delete_form.html.twig') }}
{% endblock %}
