{% extends 'base.html.twig' %}

{% block title %}Ensemble des Stagiaires - Intrarinfo{% endblock %}

{% block body %}
    <h1>Ensemble des Stagiaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for stagiaire in stagiaires %}
            <tr>
                <td>{{ stagiaire.prenomStagiaire }}</td>
                <td>{{ stagiaire.nomStagiaire }}</td>
                <td>
                    <a class="lienPlace btn" href="{{ path('stagiaire_edit', {'id': stagiaire.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn-outline-dark btn" href="{{ path('stagiaire_new') }}">Nouveau Stagiaire</a>
{% endblock %}
