{% extends 'base.html.twig' %}

{% block title %}New Stagiaire{% endblock %}

{% block body %}
    <h1>Nouveau Stagiaire</h1>

    {{ include('stagiaire/_form.html.twig') }}

    <a class="btn-outline-dark btn" href="{{ path('stagiaire_index') }}">Retour</a>
{% endblock %}
