{% extends 'base.html.twig' %}

{% block title %}Nouveau Créneau - Intrarinfo{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau Créneau</h1>

    {{ include('creneau/_form.html.twig') }}

    <a href="{{ path('creneau_index') }}">Retour</a>
{% endblock %}
