{% extends 'base.html.twig' %}

{% block title %}Nouvelle Salle - Intrarinfo{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle Salle</h1>

    {{ include('salle/_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('salle_index') }}">Retour</a>
{% endblock %}
