{% extends 'base.html.twig' %}

{% block title %}Modifier une Place - Intrarinfo{% endblock %}

{% block body %}
    <h1>Modifier une Place</h1>

    {{ include('place/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-dark" href="{{ path('place_index') }}">Retour</a>

    {{ include('place/_delete_form.html.twig') }}
{% endblock %}
