{% extends 'base.html.twig' %}

{% block title %}Nouvelle Place - Intrarinfo{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle Place</h1>

    {{ include('place/_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('place_index') }}">Retour</a>
{% endblock %}
